#aside-content .card-widget{
    background:#ffffff0f!important;
  }
#recent-posts > .recent-post-item {
    background:#ffffff0f!important;
  }
#page-header.not-top-img #nav{
    background:#ffffff0f!important;
  }
  